#results_table_container {
    position: relative;
    bottom: 1680px;
    width: 320px;
}
#table_title h2 {
    color: white;
    height: 30px;
    line-height: 30px;
    left: inherit;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: #4e6692;
    padding: 0 15px 0 15px;
    display: block;
}

#expand_btn {
    position: relative;
    width: 13px;
    height: 13px;
    top: -35px;
    right: 30px;
    float: right;
    cursor: pointer;
}



#table_body {
    height: 500px;
}
.bodyactive {
    display: block;
}
.bodyinactive {
    display: none;
}



#national-results {
    font-size: 10.5px;
}
#national-results #titles {
    padding: 15px 0 0 20px;
    margin: 0;
}
#titles li {
    list-style: none;
    display: inline;
    font-weight: bold;
    cursor: default;
}
#totals li {
    list-style: none;
    display: inline;
    position: absolute;
    font-weight: bold;
    color: #333;
    cursor: default;
    left: 170px;
    text-decoration: underline;
}
#totals-seats {
    width: 90px;
    text-align: center;
    bottom: 4px;
}
    #totals-seats span {
        text-decoration: none;
        font-weight: normal;
        font-size: 9px;
        color: red;
    }

#table-select {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);

    margin: 10px 0 0 0;
    height: 25px;
    border: solid #4e6692 1.5px;
    background-color: whitesmoke;
    color: #4e6692;
}

.table-party {
    position: relative;
    margin: 5px 15px 0 15px;
    height: 40px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
}
.party-logo {
    position: absolute;
    left: 5px;
    cursor: default;
    height: 30px;
    width: 30px;
}
.table-percent-result {
    left: 60px;
    font-weight: bold;
}
    .table-percent-result span {
        font-weight: normal;
        font-size: 80%;
    }
.table-wahlkreise-result {
    left: 155px;
}
    .table-wahlkreise-result span {
        font-size: 80%;
    }
.table-seat-result {
    left: 230px;
}
    .table-seat-result span {
        font-size: 80%;
    }

.party-info-value {
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}


#other-parties-visual {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    font-weight: bold;
    text-decoration: underline;
}
