body {
    background-color: #bfbfbf;
}

/*ELEMENTS*/
#reset {
    position: absolute;
    margin-top: 8px;
    border: none;
    background-color: #4e6692;
    font: inherit;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 100px;
    z-index: 1;
}
#reset:hover {
    background-color: #8597b9;
    transition: 0.15s;
}

#searchBar {
    border-width: 2px;
    border-style: solid;
    border-color: #4e6692;
    text-align: center;
    width: 173px;
    font-size: 90%;
    z-index: 1;
}
#searchBar:hover {
    border-color: #8597b9;
    transition: 0.15s;
}
#search_icon:hover {
    background-color: #8597b9;
    transition: 0.15s;
}

.search {
    position: absolute;
    margin-top: 8px;
    height: 30.0px;
    font: inherit;
    left: 117px;
    display: flex;
    justify-content: space-between;
}
#search_icon {
    background-color: #4e6692;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.search_icon:hover {
    background-color: #8597b9;
    transition: 0.15s;
}
.search i {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#vote-selector {
    position: absolute;
    left: 339px;
    margin-top: 8px;
    z-index: 1;
}
    #vote-selector select {
        border: none;
        height: 30px;
        background-color: #4e6692;
        color: white;
        width: 140px;
    }
    #vote-selector option {
        border: none;
    }

.select {
    cursor: pointer;
    text-align: center;
    font: inherit;
}

#opacity-check {
    position: absolute;
    left: 491px;
    margin-top: 8px;
    z-index: 1;
    background-color: #4e6692;
    height: 30px;
    width: 140px;
}
    #opacity-check input {
        position: relative;
        margin: auto;
        height: 30px;
        left: 10px;
    }
    #opacity-check label {
        position: absolute;
        top: 48%;
        left: 35px;
        color: white;
        transform: translate(0, -50%);
    }

/*class elements chart&input*/
.title {
    color: white;
    height: 30px;
    line-height: 30px;
    left: inherit;
    background-color: #333333;
    padding: 0 15px 0 15px;
    display: block;
    font-weight: normal;
}

.body {
    position: relative;
    background-color: whitesmoke;
    display: block;
    bottom: 12px;
}


/*COLOURS*/
.CDU {
    fill: #000000;
    background-color: #000000;
}

.SPD {
    fill: #EB001F;
    background-color: #EB001F;
}

.Linke {
    fill: #BE3075;
    background-color: #BE3075;
}

.Grünen {
    fill: #64A12D;
    background-color: #64A12D;
}

.CSU {
    fill: #202257;
    background-color: #202257;
}

.FDP {
    fill: #FFD700;
    background-color: #FFD700;
}

.AfD {
    fill: #009EE0;
    background-color: #009EE0;
}

.Others {
    fill: #5e5e5e;
    background-color: #5e5e5e;
}
    #wahlkreise .Others {
        fill: #5e5e5e;
        stroke: black;
    }

#copyright {
    right: 0;
    margin-right: 20px;
    top: 1025px;
    text-align: right;
    position: absolute;
    max-width: 250px;
    font-size: 10px;
}



/* border colors */
.border-CDU {
    border-color: #000000;
}

.border-SPD {
    border-color: #EB001F;
}

.border-Linke {
    border-color: #BE3075;
}

.border-Grünen {
    border-color: #64A12D;
}

.border-CSU {
    border-color: #202257;
}

.border-FDP {
    border-color: #FFD700;
}

.border-AfD {
    border-color: #009EE0;
}

.border-Others {
    border-color: #5e5e5e;
}
