#btw21 {
    font-size: 20px;
    height: 500px;
    margin: auto;
}
    #btw21 span {
        text-align: center;
        display: inline-block;
        position: relative;
        width: 100%;
        top: 50%;
        font-weight: bold;
    }

#text-body {
    position: relative;
    width: 100%;
    background-color: white;
    height: 100vh;
}
