#btw21 {
    font-size: 20px;
    height: 425px;
    margin: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 2vw;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    background-color: #4e6692;
    border-radius: 3px;
    box-shadow: 3px 3px 8px grey;
}
    #btw21 h5 {
        margin-top: 18px;
        font-size: 20px;
    }
    #btw21 span {
        font-size: 15px;
    }
    #btw21 .text-hyperlink {
        color: white;
    }
    #btw21 #arc_container {
    }

.ttp-container {
    position: relative;
    height: 1vh; /* needs to be some value so that it would keep on the same relative position */
}
#tooltip {
    opacity: 0;
    width: 5vw;
    max-height: 80px;
    max-width: 63px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.ttp-logo {
    max-height: 75%;
}
    .ttp-logo img {
        width: 100%;
        max-width: 55px;
        margin-bottom: 5px;
        position: relative;
    }
.ttp-main {
    color: #4e6692;
    font-weight: bold;
    font-size: 50%;
}

@media (max-width:544px) {
    #btw21 {
        width: 225px;
        height: 225px;
    }
    #btw21 h5 {
        margin-top: 18px;
        font-size: 10px;
    }
    #btw21 span {
        font-size: 8px;
    }

    #tooltip {
        padding: 1%;
    }
        .ttp-main {
            font-size: 1vw;
        }
}

#welcome {
    margin: auto;
    position: relative;
    top: 70px;
    text-align: center;
}
    #welcome img {
        margin: auto;
        width: 20%;
        max-width: 300px;
        margin-top: 20px;
    }
