#btw21 {
    font-size: 20px;
    height: 500px;
    margin: auto;
}
    #btw21 span {
        text-align: center;
        display: inline-block;
        position: relative;
        width: 100%;
        top: 50%;
        font-weight: bold;
    }

#text-body {
    position: relative;
    width: 100%;
    background-color: white;
    height: 100vh;
}

#welcome {
    margin: auto;
    position: relative;
    top: 60px;
    text-align: center;
}
    #welcome img {
        margin: auto;
        width: 20%;
        margin-top: 20px;
    }
    #welcome h3 {
        font-size: 40px;
        margin: 10px;
    }
    #welcome h4 {
        font-size: 20px;
        margin: 5px;
        font-weight: normal;
        color: #333;
        font-style: italic;
    }
