

body {
    overflow-x: hidden;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    background-color: #bfbfbf;
}

h2 {
    position: relative;
    font-weight: 800;
    font-size: 15px;
    color: black;
}
h3 {
    font-size: 40px;
    margin: 10px;
}
h4 {
    font-size: 20px;
    margin: 5px;
    font-weight: normal;
    color: #333;
    font-style: italic;
}
h5 {
    margin: 40px 0 0 0;
    font-size: 20px;
}
h6 {
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    margin: 25px 0 0 0;
}

/* text content class */
#page_title {
    text-align: center;
    margin: auto;
    min-width: 250px;
    top: 40px;
    position: relative;
}
.text-body {
    position: relative;
    background-color: white;
    margin: 0 8px 0 8px;
}
    .paragraphs {
        margin: 100px auto auto;
        width: 85%;
        max-width: 1500px;
        font-size: 18px;
        color: black;
        letter-spacing: 0.75px;
        line-height: 30px;
        position: relative;
        top: 5%;
        padding-bottom: 50px;
        text-align: justify;
    }

    .text-hyperlink {
        color: #333;
        text-decoration: underline;
    }

    .caption {
        font-size: 70%;
        text-decoration: italic;
    }

/* --- */


#copyright a {
    color: #333;
}


/* icon */

.arrow {
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    margin-bottom: 1px;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
}
.down {
    transform: rotate(45deg);
}

/* party colors */
.CDU {
    fill: #000000;
    background-color: #000000;
}

.SPD {
    fill: #EB001F;
    background-color: #EB001F;
}

.Linke {
    fill: #BE3075;
    background-color: #BE3075;
}

.Grünen {
    fill: #64A12D;
    background-color: #64A12D;
}

.CSU {
    fill: #202257;
    background-color: #202257;
}

.FDP {
    fill: #FFD700;
    background-color: #FFD700;
}

.AfD {
    fill: #009EE0;
    background-color: #009EE0;
}

.SSW {
    fill: #003C8F;
    background-color: #003C8F;
}

.Others {
    fill: #5e5e5e;
    background-color: #5e5e5e;
}

/* border colors */
.border-CDU {
    border-color: #000000;
}

.border-SPD {
    border-color: #EB001F;
}

.border-Linke {
    border-color: #BE3075;
}

.border-Grünen {
    border-color: #64A12D;
}

.border-CSU {
    border-color: #202257;
}

.border-FDP {
    border-color: #FFD700;
}

.border-AfD {
    border-color: #009EE0;
}

.border-SSW {
    border-color: #003C8F;
}

.border-Others {
    border-color: #5e5e5e;
}

/* on screen change */
@media (max-width:700px) {
    .paragraphs {
        font-size: 11px;
        line-height: 20px;
    }
    .text-body {
        margin: 0 4px 0 4px;
    }
    iframe {
        width: 300px;
        height: 220px;
    }
    h2 {
        font-size: 10px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 13px;
    }
    h5 {
        font-size: 13px;
    }
    h6 {
        font-size: 12px;
    }

}
