html {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #ff7575;
  cursor: default;
}

header > h1 {
  width: 100%;
  position: relative;
  font-weight: bold;
  top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 1px;
  font-size: 25px;
}

h2 {
  position: relative;
  font-weight: 600;
  font-size: 21px;
  color: white;
  align: center;
  background: #3d7ca6;
  padding: 2px 5px;
  display: inline;
}

body {
  font-family: Tahoma,sans-serif;
  font-size: 12px;
  font-weight: normal;
  background-color: #bfbfbf;
  margin-top: 7px;
}

.background {
  fill: none;
  pointer-events: all;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#NavBar {
  overflow: hidden;
  background-color: #333333;
  font-size: 12px;
  cursor: default;
}

#NavBar > a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

#NavBar a.active {
  background-color: #ff7575;
  color: white;
}
