body {
    overflow-x: hidden;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 0 0;
    background-color: #bfbfbf
}

header {
    height: 75px;
    color: #ffffff;
    background-color: #ff7575;
    cursor: default;
}
header img {
    position: absolute;
    height: 40px;
    padding: 13px 0 10px 0;
    margin-left: 125px;
}
header h1 {
    width: 100%;
    position: relative;
    font-weight: bold;
    top: 25px;
    left: 155px;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 1px;
    font-size: 25px;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}
#header-content {
    
}

h2 {
    position: relative;
    font-weight: 800;
    font-size: 15px;
    color: black;
}

/* text content class */
    .paragraphs {
        margin: auto;
        width: 85%;
        font-size: 18px;
        color: black;
        letter-spacing: 0.75px;
        line-height: 30px;
        position: relative;
        margin-top: 90px;
        text-align: justify;
    }

    .text-hyperlink {
        color: #333;
    }
/* --- */

.content {
    margin: 0 8px 0 8px;
    position: absolute;
}

#contact-info {
    float: right;
    position: relative;
    right: 110px;
}
.socialmedia-icon {
}
    .socialmedia-icon img {
        height: 20px;
        padding: 11px 0 9px 0;
        margin-left: 30px;
    }

#NavBar {
    overflow: hidden;
    background-color: #333333;
    font-size: 13px;
    cursor: default;
    min-width: 875px;
}
#NavBar i {
    margin-left: 5px;
}
    #NavBar .page {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
        #NavBar .firstmost {
            margin-left: 110px;
        }
        #NavBar .page:hover {
            transition: 0.15s;
            background-color: #ff7575;
        }
        #NavBar .active {
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
/* DROPFOWN MENU */
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
      display: none;
      position: absolute;
      margin-top: 44.5px;;
      background-color: #333;
      min-width: 152px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 2;
}

.dropdown-content a:hover{background-color: #ff7575; transition: 0.15s;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  background-color: #333;
  margin: 0;
}
/* DROPFOWN MENU */


.under_construction {
    background-color: white;
    display: block;
    position: relative;
    top: 200px;
    height: 100px;
    padding-top: 20px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: #ff7575;
}
.under_construction div {
    position: inherit;
    top: 10px;
    font-size: 12px;
    color: #333333;
    letter-spacing: 1px;
    padding: 0 80px 0 80px;
}

.under_construction a {
    color: #333333;
}

#copyright a {
    color: #333;
}

.infobox {
    background-color: #bfbfbf;
    width: 100%
}


/* icon */

.arrow {
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    margin-bottom: 1px;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
}
.down {
    transform: rotate(45deg);
}
